*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background: linear-gradient(315deg, #fff 0%, lightblue 75%);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.botao{
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.icone{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.botao:hover{
    color: white;
}
.caixa .botao:nth-child(1):hover .icone{ /*facebook*/
    background: darkblue;
}
.caixa .botao:nth-child(2):hover .icone{ /*git hub*/
    background: #171515;
}
.caixa .botao:nth-child(3):hover .icone{ /*discord*/
    background: #7289da;
}
.caixa .botao:nth-child(4):hover .icone{ /*instagram*/
    background: orangered;
}
.caixa .botao:nth-child(5):hover .icone{ /*youtube*/
    background: red;
}
.icone i{
    font-size: 1.5rem;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}
.botao span{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
.botao:hover{
    width: 200px;
}
.caixa .botao:nth-child(1):hover span{ /*facebook*/
    color: darkblue;
}
.caixa .botao:nth-child(2):hover span{ /*git hub*/
    color: #171515;
}
.caixa .botao:nth-child(3):hover span{ /*discord*/
    color: #7289da;
}
.caixa .botao:nth-child(4):hover span{ /*instagram*/
    color: orangered;
}
.caixa .botao:nth-child(5):hover span{ /*youtube*/
    color: red;
}
.icone i {
    font-size: 1.5rem;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.botao span {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
.botao:hover {
    width: 200px;
}
.caixa .botao:nth-child(1):hover span { /* facebook */
    color: darkblue;
}
.caixa .botao:nth-child(2):hover span { /* github */
    color: #171515;
}
.caixa .botao:nth-child(3):hover span { /* discord */
    color: #7289da;
}
.caixa .botao:nth-child(4):hover span { /* instagran */
    color: orangered;
}
.caixa .botao:nth-child(5):hover span { /* youtube */
    color: red;
}

#egg{  /* easter egg */
    position: absolute;  /* posicionar em local definido */
    bottom: 0;  /* grudar na parte inferior */
    left: 50%;  /* posicionar automaticamente 50% da margem esquerda */
    color: lightgray;  /* cor do ícone */
}